.container {
    position: relative;
    width: 1366px;
    padding-top: 51px;
    margin: 0 auto;
    color: white;
}


.logo-png:hover {
    color: #F26522;
}

.logo-png {
    position: relative;
    margin-left: 76px;
}

.logo-text {
    position: absolute;
    width: 140px;
    height: 30px;
    left: 58px;
    top: -32px;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;

}

.text-logo {
    position: absolute;
    width: 135px;
    height: 21px;
    left: 58px;
    top: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;

}

.mail {
    margin-top: 46px;
    position: absolute;
    width: 219px;
    height: 21px;
    right: 30px;
    top: 0px;
    text-decoration: none;
}

.mail:hover {
    color: #F26522;
}

.number {
    position: absolute;
    margin-top: 19px;
    text-decoration: none;
    width: 219px;
    height: 21px;
    right: -30px;
    top: 60px;
}

.number:hover {
    color: #F26522;
}

.grid-conteiner {
    display: grid;
    margin-top: 20px;
    /*grid-column-gap:;*/
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
            "item1 item2 item3"
    "item4 item5 item6";
}

.item {
    text-align: center;
    width: 300px;
    height: 220px;
    margin: auto;
    text-decoration: none;
}

.item:hover {
    color: #F26522;
}

.item1 {
    grid-area: item1;
}

.item1:hover .dropdown-shopping {
    display: block;
    color: white;
}

.item2 {
    grid-area: item2;
}

.item2:hover .dropdown-tours {
    display: block;
    color: white;
}

.item3 {
    grid-area: item3;

}

.item3:hover .dropdown-food {
    display: block;
    color: white;
}

.item4 {
    grid-area: item4;
    margin-bottom: 37px;
}

.item4:hover .dropdown-bar {
    display: block;
    color: white
}

.item5 {
    grid-area: item5;
    margin-bottom: 37px;
}

.item5:hover .dropdown-art {
    display: block;
    color: white;
}

.item6 {
    grid-area: item6;
    margin-bottom: 37px;
}

.item6:hover .dropdown-walking {
    display: block;
    color: white;
}

.img {
    padding-bottom: 20px;
}

.img-1 {
    margin-top: 37px;
    padding-bottom: 20px;
}

.dropdown-shopping {
    display: none;
    background: #F26522;
    height: 55px;
    width: 301px;
    position: absolute;
    left: 79px;
    top: 305px;
}

.shopping-1 {
    position: absolute;
    left: 16px;
    top: 7px;
    font-size: 10px;
    line-height: 10px;
}

.shopping-2 {
    position: absolute;
    top: 29px;
    left: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.shopping-3 {
    position: absolute;
    right: 37px;
    top: 29px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.dropdown-tours {
    display: none;
    background: #F26522;
    height: 55px;
    width: 301px;
    position: absolute;
    left: 536px;
    top: 305px;
}

.tour-1 {
    position: absolute;
    left: 16px;
    top: 7px;
    font-size: 10px;
    line-height: 10px;
}

.tour-2 {
    position: absolute;
    top: 29px;
    left: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.tour-3 {
    position: absolute;
    right: 37px;
    top: 29px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.dropdown-food {
    display: none;
    background: #F26522;
    height: 55px;
    width: 301px;
    position: absolute;
    left: 990px;
    top: 305px;
}

.food-1 {
    position: absolute;
    left: 16px;
    top: 7px;
    font-size: 10px;
    line-height: 10px;
}

.food-2 {
    position: absolute;
    top: 29px;
    left: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.food-3 {
    position: absolute;
    right: 37px;
    top: 29px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.dropdown-bar {
    display: none;
    background: #F26522;
    height: 55px;
    width: 301px;
    position: absolute;
    left: 79px;
    top: 580px;
}

.bar-1 {
    position: absolute;
    left: 16px;
    top: 7px;
    font-size: 10px;
    line-height: 10px;
}

.bar-2 {
    position: absolute;
    top: 29px;
    left: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.bar-3 {
    position: absolute;
    right: 37px;
    top: 29px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.dropdown-art {
    display: none;
    background: #F26522;
    height: 55px;
    width: 301px;
    position: absolute;
    left: 535px;
    top: 580px;
}

.art-1 {
    position: absolute;
    left: 16px;
    top: 7px;
    font-size: 10px;
    line-height: 10px;
}

.art-2 {
    position: absolute;
    top: 29px;
    left: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.art-3 {
    position: absolute;
    right: 37px;
    top: 29px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}


.dropdown-walking {
    display: none;
    background: #F26522;
    height: 55px;
    width: 301px;
    position: absolute;
    left: 990px;
    top: 580px;
}

.walking-1 {
    position: absolute;
    left: 16px;
    top: 7px;
    font-size: 10px;
    line-height: 10px;
}

.walking-2 {
    position: absolute;
    top: 29px;
    left: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.walking-3 {
    position: absolute;
    right: 37px;
    top: 29px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.copyright {
    margin-top: 90px;
    text-align: center;
}